* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    background-color: #333;
}

main {
    display: flex;
    background-color: #f4f4f4;
    width: 450px;
    height: max-content;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
}

.cadastro {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.botoes {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 50%;
}

.botoes button {
    all:unset;
    cursor: pointer;
    border:rgb(145, 143, 143) solid 2px;
    border-radius: 12px;
    background-color: rgba(4, 44, 164, 0.65);
    color: white;
    padding: 4px;
}

.tabela {
    border-collapse: collapse;
    min-width: fit-content;
    margin: 20px;
}

.tabela tr, .tabela td {
    border: 2px solid #ddd;
    padding: 8px;
}

.tabela tr:nth-child(even) {
    background-color: rgba(153, 153, 153, 0.541);
}

#table tr:hover {
    background-color: #666;
    color: white;
    cursor: pointer;
}

.tabela th {
    padding: 10px;
    text-align: left;
    border:2px solid #ddd;
    background-color: rgba(4, 44, 164, 0.65);
    color: white;
}





